body {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  background-color: bisque;
  transition: background-color 0.5s ease-in-out 0s;
}

.dark-mode {
  color: white;
  background-color: rgb(5, 16, 35);
  transition: background-color 0.5s ease-in-out 0s;
}

#contanier {
  text-align: center;
  background-color: tomato;
  transition: background-color 0.5s ease-in-out 0s;

  border-radius: 20px;
  width: 400px;
  height: 400px;
}

.dark-mode #contanier {
  background-color: rgb(89, 42, 33);
  transition: background-color 0.5s ease-in-out 0s;
}

.hidden {
  display: none;
}

#dark {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
